amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
celery==5.3.6
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
crispy-bootstrap5==2024.2
dj-database-url==3.1.2
Django==4.2.11
django-crispy-forms==2.1
django-filter==24.2
django-htmx==1.17.2
djangorestframework==3.15.1
greenlet==3.3.2
kombu==5.6.2
packaging==26.2
playwright==1.58.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
pyee==13.0.1
python-dateutil==2.9.0
redis==5.0.3
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
vine==5.1.0
wcwidth==0.8.1
